<template>
  <v-app-bar
    app
    dark
    color="primary"
    v-if="isAuthenticated"
    :clipped-left="$vuetify.breakpoint.lgAndUp"
  >
    <v-app-bar-nav-icon @click.stop="handleChangeDrawer()">
      <v-btn icon>
        <v-icon>fas fa-bars</v-icon>
      </v-btn>
    </v-app-bar-nav-icon>

    <v-spacer></v-spacer>

    <UserMenu />
  </v-app-bar>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "SystemAppBar",

  components: {
    UserMenu: () => import("../../components/User/ProfilleMenu/Index"),
  },

  computed: {
    ...mapGetters({
      drawer: "getSystemBarAndNavigation",
      isAuthenticated: "getIsAuthenticated",
    }),
  },

  methods: {
    handleChangeDrawer() {
      this.$store.dispatch("systemBarAndNavigation", !this.drawer);
    },
  },
};
</script>