<template>
  <v-card width="310" rounded="lg">
    <v-toolbar flat>
      <v-toolbar-title class="toolbar-title"> Login </v-toolbar-title>
    </v-toolbar>

    <v-card-text>
      <v-form>
        <v-text-field
          type="text"
          label="E-mail*"
          autocomplete="off"
          prepend-icon="fas fa-at"
          :autofocus="true"
          :disabled="loadButtonSubmit"
          v-model="data.username"
          :error-messages="errors.username"
        ></v-text-field>

        <v-text-field
          type="password"
          label="Senha*"
          prepend-icon="fas fa-key"
          :disabled="loadButtonSubmit"
          v-model="data.password"
          :error-messages="errors.password"
        ></v-text-field>
      </v-form>
    </v-card-text>

    <v-card-actions>
      <v-btn
        link
        text
        color="primary"
        class="no-text-transform"
        to="/solicitar-nova-senha"
      >
        Esqueceu sua senha?
      </v-btn>

      <v-spacer></v-spacer>

      <v-btn
        color="primary"
        class="ma-2 white--text no-text-transform"
        :loading="loadButtonSubmit"
        @click="handleSubmitData()"
      >
        Entrar
        <v-icon right dark>fas fa-sign-in-alt</v-icon>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import ToastService from "@/services/ToastService";
import AuthService from "@/services/Auth/AuthService";
import PermissionService from "@/services/Auth/PermissionService";

export default {
  name: "Login",

  data: () => ({
    data: {},
    errors: {},
    loadButtonSubmit: false,
    AuthService: new AuthService("/auth"),
    PermissionService: new PermissionService("/permission"),
  }),

  methods: {
    async handleSubmitData() {
      try {
        this.errors = {};

        this.loadButtonSubmit = true;

        await this.AuthService.login("login", this.data);

        await this.AuthService.me("me");

        await this.PermissionService.me("me");

        await this.$router.push({ path: "/app/painel" });
      } catch (exception) {
        if (typeof exception === "object") {
          this.errors = exception;
          ToastService("Verifique o preenchimento dos dados.", "error");
        } else {
          ToastService(exception, "error");
        }
      } finally {
        this.loadButtonSubmit = false;
      }
    },
  },
};
</script>

<style scoped>
.toolbar-title {
  margin-top: 25px;
  color: #0b6775;
  font-weight: bold;
  text-align: center;
  width: 100% !important;
}
</style>