<template>
  <v-container fluid>
    <ConfirmDeleteModal
      :data="confirmData"
      :visible="showDeleteModal"
      @cancel="cancelDeleteData()"
      @confirm="confirmDeleteData($event)"
    />

    <LoadingModal :visible="loading" />

    <v-data-table
      item-key="id"
      class="elevation-3"
      v-model="selected"
      :show-select="false"
      :single-select="true"
      :headers="headers"
      :items="dataTable"
      :loading="dataLoading"
      hide-default-footer
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Gestão de Usuários</v-toolbar-title>

          <v-spacer></v-spacer>

          <v-btn
            :disabled="dataLoading"
            outlined
            color="primary"
            class="no-text-transform"
            @click="redirectForm('/app/usuarios/cadastrar')"
            v-if="AuthorizationService('user_management', 'user_create')"
          >
            Novo Usuário
          </v-btn>
        </v-toolbar>
      </template>

      <template v-slot:item.acoes="{ item }">
        <v-tooltip top>
          <template v-slot:activator="{ on, attrs }">
            <v-icon
              small
              v-on="on"
              v-bind="attrs"
              color="primary"
              class="mr-2 cursor-pointer"
              @click="redirectForm(`/app/usuarios/visualizar/${item.id}`)"
              v-if="AuthorizationService('user_management', 'user_show')"
            >
              fas fa-eye
            </v-icon>
          </template>
          <span>Visualizar</span>
        </v-tooltip>

        <v-tooltip top>
          <template v-slot:activator="{ on, attrs }">
            <v-icon
              small
              v-on="on"
              v-bind="attrs"
              class="mr-2 cursor-pointer"
              color="error"
              @click="verifyDeleteData(item)"
              v-if="AuthorizationService('user_management', 'user_delete')"
            >
              far fa-trash-alt
            </v-icon>
          </template>
          <span>Excluir</span>
        </v-tooltip>
      </template>

      <template v-slot:no-data> Nenhum dado localizado. </template>

      <template v-slot:loading> Carregando... </template>
    </v-data-table>

    <Paginate
      :paginate="paginateParams"
      :disabled="dataLoading"
      v-if="
        paginateParams.last_page !== undefined && paginateParams.last_page >= 2
      "
      @setPage="setPage($event)"
    />
  </v-container>
</template>

<script>
import ToastService from "@/services/ToastService";
import UserService from "@/services/User/UserService";
import AuthorizationService from "@/services/AuthorizationService";

export default {
  name: "UserIndex",

  created: async function () {
    await this.indexData();
  },

  data: () => ({
    selected: [],
    dataTable: [],
    loading: false,
    confirmData: {},
    showDeleteModal: false,
    showForm: false,
    dataLoading: true,
    dataToModal: {},
    paginateParams: {},
    AuthorizationService: AuthorizationService,
    UserService: new UserService("/user"),
    headers: [
      { text: "Nome", value: "name", align: "left", sortable: false },
      { text: "E-mail", value: "email", align: "left", sortable: false },
      { text: "Ações", value: "acoes", align: "center", sortable: false },
    ],
  }),

  methods: {
    async indexData(queryString = "") {
      try {
        this.dataLoading = true;

        const res = await this.UserService.index(queryString);

        this.paginateParams = {
          last_page: res.last_page,
          current_page: res.current_page,
          next_page_url: res.next_page_url,
          prev_page_url: res.prev_page_url,
          last_page_url: res.last_page_url,
        };

        this.dataTable = res.data;
      } catch (exception) {
        ToastService(exception, "error");
      } finally {
        this.dataLoading = false;
      }
    },

    async deleteData(id) {
      try {
        await this.UserService.destroy(id);

        ToastService("Ação realizada com sucesso.", "success");

        await this.indexData();
      } catch (exception) {
        ToastService("Erro ao realizar operação.", "error");
      } finally {
        this.loading = false;
      }
    },

    verifyDeleteData(item) {
      this.confirmData = item;
      this.showDeleteModal = true;
    },

    async confirmDeleteData(item) {
      this.loading = true;

      this.cancelDeleteData();

      await this.deleteData(item.id);
    },

    cancelDeleteData() {
      this.confirmData = {};
      this.showDeleteModal = false;
    },

    redirectForm(path) {
      this.$router.push({ path: path });
    },

    async setPage(page) {
      await this.indexData(`?page=${page}`);
    },
  },
};
</script>